exam_XML/6 баллов/main_dtd.dtd

<!ELEMENT CATALOG (OBJECT+)>
<!ELEMENT OBJECT (TITLE ,ADDRESS,TYPE,DATE,NUMBER_OF_FLOORS,NUMBER_OF_ROOMS,PRICE) >
<!ELEMENT TITLE (#PCDATA) >
<!ELEMENT ADDRESS (#PCDATA) >
<!ELEMENT TYPE (#PCDATA) >
<!ELEMENT DATE (#PCDATA) >
<!ELEMENT NUMBER_OF_FLOORS (#PCDATA) >
<!ELEMENT NUMBER_OF_ROOMS (#PCDATA) >
<!ELEMENT PRICE (#PCDATA) >
<!ATTLIST TYPE 
  type-size (1|2|3) #REQUIRED
>
